
Dataset/.DS_Store
Dataset/test/.DS_Store
Dataset/train/.DS_Store
Dataset/valid/.DS_Store
.ipynb_checkpoints/pre_process_images-checkpoint.ipynb
.ipynb_checkpoints/Load Data-checkpoint.ipynb
.ipynb_checkpoints/281_project_proposal-checkpoint.ipynb
.DS_Store
